* {
    background-color: lightblue;
 }
  
 h1 {
    text-align: center;
 }
  
 #container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
  
 .button-element {
    font-size: 20px;
    border-width: 2px;
 }

 #question1, #question2, #question3, #question4, #question5 {
   display: none;
   /* display: flex; */
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
 }
  
 footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
 }
 